 body{
            background-color: rgb(0, 0, 0);
            color:white
        }
        h1{
            color: red;
    
        }
        #GO {
            color:chartreuse
        }
        #CS {
            color: blueviolet;
        }

        #curtidas{
            background-color: crimson; /*cor de fundo*/
            color: blue; /*cor de letras*/
            padding: 5px 10px 5px 10px; /* espaço interno*/
            border: 2px salid  pink; /* borda*/
            border-radius: 12px;       /*bordas arredondadas*/
        }